<h2>A list of all <%= teachers.length %> Teachers</h2>

<ul>
  <% teachers.each do |teacher| %>
  <li><%= link_to(teacher.name, teacher_path(teacher)) %></li>
 <% end %>
</ul>

<%= link_to('Go to school index', schools_path) %>

<%= link_to('More on next page >', root_path(page: page + 1))  %>


