<h1>A list of all schools</h1>
<ul>
  <% schools.each do |school| %>
    <li><a href= "/schools/"><%= school.name %></a> </li>
  <% end %>
</ul>


<%= link_to('More on next page >', root_path(page: page + 1)) %>
