<h1>A list of all schools</h1>
<ul>
  <% schools.each do |school| %>
    <li><%= link_to( school.name, school_path(school)) %> </li>
  <% end %>
</ul>

<%= link_to('Go to teachers index', teachers_path) %>
<%= link_to('Courses index', courses_path) %>


<%= link_to("More on next page #{schools.size} >", root_path(page: page + 1)) %>
