<!DOCTYPE html>
<html>
<head>
  <title>Schoolapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header class = "page-header">Welcome to the DotzenrodSchoolApp
</header>
<body>

<%= yield %>
</body>

<footer class = "navbar navbar-default navbar-bottom" role = "navigation">
created by @mmdotz
</footer>
</html>

